In [1]:
import pandas as pd

In [3]:
inc_file = "./2024-03-06_indiv_cont.csv"
ic_df = pd.read_csv(inc_file)

display(ic_df.head(20))
len(ic_df)

C:\Users\ayoku\AppData\Local\Temp\ipykernel_1292\2737103332.py:2: DtypeWarning: Columns (3,10,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  ic_df = pd.read_csv(inc_file)

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00817940,T,TER,P,202301239574900261,22Y,IND,"MISCIKOWSKI, CYNTHIA",LOS ANGELES,CA,...,NaN,NaN,2023-11-09,5000,NaN,500241288,1678288,NaN,NaN,4012320231720334171
1,C00817940,T,TER,P,202301239574900260,22Y,IND,"DUFF, JAMES",LOS ANGELES,CA,...,NaN,NaN,2023-11-09,800,NaN,500241283,1678288,NaN,NaN,4012320231720334166
2,C00817940,T,TER,P,202301239574900260,22Y,IND,"ROTHMAN, ANDREW",CULVER CITY,CA,...,NaN,NaN,2023-11-09,250,NaN,500241284,1678288,NaN,NaN,4012320231720334167
3,C00817940,T,TER,P,202301239574900260,22Y,IND,"PELLETT, CLARK",CHICAGO,IL,...,NaN,NaN,2023-01-20,345,NaN,500241285,1678288,NaN,NaN,4012320231720334168
4,C00817940,T,TER,P,202301239574900261,22Y,IND,"DISNEY, TIMOTHY",ENCINO,CA,...,NaN,NaN,2023-11-09,615,NaN,500241286,1678288,NaN,NaN,4012320231720334169
5,C00817940,T,TER,P,202301239574900261,22Y,IND,"TRONE, DAVID",POTOMAC,MD,...,NaN,NaN,2023-11-09,5000,NaN,500241287,1678288,NaN,NaN,4012320231720334170
6,C00817940,T,TER,P,202301239574900262,22Y,IND,"HOOD, JOHN",DEL MAR,CA,...,NaN,NaN,2023-01-20,5000,NaN,500241289,1678288,NaN,NaN,4012320231720334172
7,C00815316,T,TER,P,202301239574918787,20Y,IND,"DANFORTH, JOHN",NEW YORK,NY,...,NaN,NaN,2023-12-03,379827,NaN,SB28A.4281,1678556,NaN,NaN,4012420231720406200
8,C00806752,T,TER,P2022,202211189546828121,15,CAN,"STEEL, DIANE",LAS VEGAS,NV,...,NONE,RETIRED,2022-06-30,7709,NaN,SA11AI.4337,1661961,NaN,NaN,4120820221633698139
9,C00806752,T,TER,P2022,202211189546828120,15,ORG,AURELIA ARNOLD ROBERTS,LAS VEGAS,NV,...,NaN,NaN,2022-04-05,580,NaN,SA11AI.4276,1661961,NaN,NaN,4120820221633698136
10,C00806752,T,TER,P2022,202211189546828120,15,ORG,JENNIFER HENRY,LAS VEGAS,NV,...,NaN,NaN,2022-04-10,350,NaN,SA11AI.4282,1661961,NaN,NaN,4120820221633698137
11,C00806752,T,TER,P2022,202211189546828120,15,IND,"LAUB, BILL",LAS VEGAS,NV,...,NONE,RETIRED,2022-04-11,480,NaN,SA11AI.4326,1661961,NaN,NaN,4120820221633698138
12,C00806372,T,TER,P2022,202301249574932524,15C,CAN,"SEGAL, DAVID",PROVIDENCE,RI,...,NOT EMPLOYED,NOT EMPLOYED,2023-11-01,64427,H2RI02234,5448894,1678824,NaN,IN-KIND: CANDIDATE LOAN FORGIVENESS - PERSONAL...,4012420231720393633
13,C00796540,T,TER,P2022,202301139574688531,22Y,IND,"ROSE, HAL M.",BROOKLYN,NY,...,NaN,NaN,2023-01-10,800,NaN,500209072,1676011,NaN,NaN,4012120231720217822
14,C00796540,T,TER,P2022,202301139574688531,22Y,IND,"ROSE, LISA",BROOKLYN,NY,...,NaN,NaN,2023-01-10,800,NaN,500209073,1676011,NaN,NaN,4012120231720217823
15,C00796540,T,TER,G2022,202301139574688531,22Y,IND,"ARONSON, BERNARD",TAKOMA PARK,MD,...,NaN,NaN,2023-10-05,1000,NaN,500209074,1676011,NaN,NaN,4012120231720217824
16,C00796540,T,TER,G2022,202301139574688532,22Y,IND,"AIZER, ROSEMARY",NEW YORK,NY,...,NaN,NaN,2023-10-05,1000,NaN,500209075,1676011,NaN,NaN,4012120231720217825
17,C00806562,T,TER,P,202301249574939682,10,ORG,RED ROCK GROUP,SAN DIEGO,CA,...,NaN,NaN,2022-12-30,4329,NaN,SA11AI.4133,1679000,NaN,NaN,4012520231720490563
18,C00765560,T,TER,G2002,202301129574687622,22Y,IND,"MILLER, DAVID",DARNESTOWN,MD,...,NaN,NaN,2022-10-19,2800,NaN,SB20A.5083,1675959,NaN,NaN,4012120231720217809
19,C00765560,T,TER,P2022,202301129574687623,22Y,IND,"MILLER, DAVID",DARNESTOWN,MD,...,NaN,NaN,2022-10-22,2900,NaN,SB20A.5084,1675959,NaN,NaN,4012120231720217810

18465660