In [3]:
import pandas as pd

In [5]:
header_file = "./oppexp_header_file.csv"
operating_exp_file = "./oppexp.txt"

operating_exp_header = pd.read_csv(header_file)
operating_exp_df = pd.read_csv(operating_exp_file,
                                       sep="|",
                                       names= operating_exp_header.columns,
                                       dtype= {"ZIP_CODE" : "object", "TRANSACTION_DT": "object", "ENTITY_TP": "object" }
                                       )

print(operating_exp_df.dtypes)
display(operating_exp_df.head(10))

C:\Users\ayoku\AppData\Local\Temp\ipykernel_27044\3680823692.py:5: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  operating_exp_df = pd.read_csv(operating_exp_file,

CMTE_ID              object
AMNDT_IND             int64
RPT_YR               object
RPT_TP                int64
IMAGE_NUM            object
LINE_NUM             object
FORM_TP_CD           object
SCHED_TP_CD          object
NAME                 object
CITY                 object
STATE                object
ZIP_CODE             object
TRANSACTION_DT       object
TRANSACTION_AMT      object
TRANSACTION_PGI      object
PURPOSE              object
CATEGORY             object
CATEGORY_DESC        object
MEMO_CD              object
MEMO_TEXT            object
ENTITY_TP            object
SUB_ID                int64
FILE_NUM             object
TRAN_ID              object
BACK_REF_TRAN_ID    float64
dtype: object

,CMTE_ID,AMNDT_IND,RPT_YR,RPT_TP,IMAGE_NUM,LINE_NUM,FORM_TP_CD,SCHED_TP_CD,NAME,CITY,...,PURPOSE,CATEGORY,CATEGORY_DESC,MEMO_CD,MEMO_TEXT,ENTITY_TP,SUB_ID,FILE_NUM,TRAN_ID,BACK_REF_TRAN_ID
C00794982,A,2023,TER,202301109574642828,17,F3,SB,BROGHAMER CONSULTING LLC,NEWPORT,KY,...,1.0,Administrative/Salary/Overhead Expenses,NaN,NaN,ORG,4012020231718627443,1675434,B99FBD49A0D1040A18CC,NaN,NaN
C00794982,A,2023,TER,202301109574642828,17,F3,SB,"GRAUERT, MATTHEW",LOUISVILLE,KY,...,NaN,NaN,NaN,NaN,IND,4012020231718627444,1675434,B1F8C934294B849A1AE7,NaN,NaN
C00794982,A,2023,TER,202301109574642828,17,F3,SB,"TELLO, KURT",LOUISVILLE,KY,...,NaN,NaN,NaN,NaN,IND,4012020231718627445,1675434,B0C98B26380D94314B73,NaN,NaN
C00819177,T,2023,TER,202301109574642263,21B,F3X,SB,"PURPURA, SALVATORE",MONROE,NC,...,NaN,NaN,NaN,NaN,IND,4011820231709508274,1675412,SB21.1323,NaN,NaN
C00819177,T,2023,TER,202301109574642263,21B,F3X,SB,"PURPURA, SALVATORE",MONROE,NC,...,NaN,NaN,NaN,NaN,IND,4011820231709508275,1675412,SB21.1323_B,NaN,NaN
C00819177,T,2023,TER,202301109574642263,21B,F3X,SB,INTUIT,MOUNTAIN VIEW,CA,...,NaN,NaN,X,NaN,ORG,4011820231709508276,1675412,SB21.1323_B_B,NaN,NaN
C00758672,T,2023,TER,202301109574639559,21B,F3X,SB,CALIFORNIA FRANCHISE TAX BOARD,LOS ANGELES,CA,...,NaN,NaN,NaN,NaN,ORG,4011020231667596033,1675246,SB21B.4853,NaN,NaN
C00800201,T,2023,TER,202301109574640445,21B,F3X,SB,"CAMPAIGN COMPLIANCE, INC.",MISSOULA,MT,...,NaN,NaN,NaN,NaN,ORG,4011020231667599102,1675300,500239876,NaN,NaN
C00800201,T,2023,TER,202301109574640445,21B,F3X,SB,NGP VAN INC,WASHINGTON,DC,...,NaN,NaN,NaN,NaN,ORG,4011020231667599103,1675300,500239894,NaN,NaN
C00806752,T,2023,TER,202211189546828125,17,F3,SB,COSTCO WHOLESALE,HENDERSON,NV,...,2.0,Travel Expenses,NaN,NaN,ORG,4120820221633731928,1661961,SB17.4304,NaN,NaN